/*
Color scheme is applied to top level card.  Unless a section explicity opts out
it'll set color and shadow on all text on card.
*/

.color_scheme {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.color_scheme.monochrome {
  color: #444;
  border-color: #444;
}

.color_scheme.jewel_tones {
  color: #17c;
  border-color: #17c;
}

.color_scheme.earth_tones {
  color: #640;
  border-color: #640;
}

.color_scheme.pastels {
  color: #a66;
  border-color: #a66;
}

importantText {
  font-weight: bold;
  font-size: 116%;
}

unimportantText {
  font-size: 75%;
}

.card.front.clothes_card {
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  text-align: center;

  .widget_container {
    position: absolute;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .widget {
        height: 30px;
        width: 50px;
        border-radius: 20%;
        border-style: solid;
        border-width: 2px;
        display: flex;
        justify-content: center;

        .widget_text {
          font-size: 14px;
          text-align: center;
        }
    };
  }

  .widget_container.top {
    top: 0px;

    .widget {
        transform: translateY(-25%);
        align-items: flex-end;
        .widget_contents {
          margin-bottom: 2px;
        }
    };
  }

  .widget_container.bottom {
    bottom: 0px;

    .widget {
        transform: translateY(25%);
        align-items: flex-start;
        .widget_contents {
          margin-top: 5px;
        }
    };
  }

  .formatted_wrapper {
    position: relative;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    .instance_name2 {
      font-style: italic;
      text-decoration: underline;
      margin-top: 10px;
      color: #556677;
    }

    .style.bohemian {
      font-family: "Boho";
    }

    .style.classic {
      font-family: "Merriweather";
    }

    .style.elegant {
      font-family: "Cinzel";
    }

    .style.retro {
      font-family: "Groovy";
    }

    .style.whimsical {
      font-family: "HennyPenny";
    }

    .card_spec {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      width: 100%;
      position: relative;

      .icons_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-top: 10px;

        .pseudo_image {
          height: 50px;
          width: 50px;
          filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
        }
      }
    }

    .text_wrapper {
      margin-top: 10px;
      color: #334433
    }

    .instance_name_container {
      height: 75px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;

      .instance_name {
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
  /*      height: 100%; */
        text-align: center; /* Center the text horizontally */
        white-space: normal; /* Allows text to wrap */
        word-wrap: break-word; /* Breaks long words if needed */
        overflow-wrap: break-word;
      }
    }

    .try_on_rules {
      width: 100%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      color: #554444;

      .num_dice_and_rolls {
        font-style: italic;
      }

      .try_on_details {
        margin-top: 4px;
        font-weight: bold;
      }
    }
    .special_clause {
      margin-top: 10px;
      font-size: 12px;
    }

    .special_clause.good {
      color: #090;
    }

    .special_clause.bad {
      color: #900;
    }
  }
}

.card.back .title {
  transform: rotate(-45deg);
}
