.card.front.modifier_card.strength {
  border-color: #336633;
}

.card.front.modifier_card.weakness {
  border-color: #663333;
}

.card.front.modifier_card .formatted_wrapper {
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin-top: 18px;
    font-size: 20px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .rules_text {
    font-size: 15px;
    word-wrap: break-word; /* Ensures long words break */
    white-space: normal; /* Allows wrapping */
    line-height: 1.3;
  }
}

.card.back .title {
  transform: rotate(-45deg);
}
