.arrow {
    position: absolute;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
}

.arrow .pseudoImage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
