.belt {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.beltSegment {
	position: absolute;
	background: linear-gradient(#74739f, #444274);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	border-radius: 3px;
}

.belt .beltSegment {
	transform: translate(-50%, -50%);
}
