.box_robot {
  position: relative;
}

.box_robot .quadrant {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.box_robot .quadrant .pseudo_image {
  position: absolute;
}

.box_robot .quadrant .robotArm {
  transform: rotate(-45deg);
}

.box_robot #quadrant_0 {
  transform: rotate(0deg);
}

.box_robot #quadrant_1 {
  transform: rotate(90deg);
}

.box_robot #quadrant_2 {
  transform: rotate(180deg);
}

.box_robot #quadrant_3 {
  transform: rotate(270deg);
}
