.card {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 1px;
  margin-bottom: 1px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.card.forDemo {
  margin-right: 0px;
  margin-bottom: 0px;
}

.card.front {
  box-sizing: border-box;
  border-radius: 8px;
}

/* Box Cards */
.card.front.box {
  position: relative;
  background-color: #fff;
}

.card.front.box .wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.card.front.box .nutProps {
  display: flex;
  margin-bottom: 20px;
}

.card.front.box div.nutProp {
  height: 80px;
  width: 80px;
  margin: auto;
}

.card.front.box div.nutProp.nut_type {
  height: 100px;
  width: 100px;
}

.card.front.box div.nutProp img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Generic formatted card */
.card.front .formatted_wrapper {
  margin: 15px;
}
.card.front .formatted_wrapper .title {
  margin-top: 28px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "DynaPuff", serif;
  font-size: 30px;
}

.card.front .formatted_wrapper .subtitle {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "DynaPuff", serif;
  font-style: italic;
  font-size: 14px;
}

.card.front .formatted_wrapper .rulesText {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "DynaPuff", serif;
  font-size: 16px;
}

/* Card backs*/
.card.back {
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.card.back .inset {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.back .inset .title {
  transform-origin: center;
  transform: rotate(-45deg);
  font-family: "DynaPuff", serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.card.ghost {
  opacity: 0.4;
}
