.card.front .formatted_wrapper .rulestext .clause {
  font-size: 16px;
}

.card.front .formatted_wrapper .rulestext .clause.first {
  margin-top: 40px;
}

.card.front .formatted_wrapper .rulestext .or {
  font-size: 12px;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}
