.card.front.clothes_card {
  border-color: #333366;
}

.item_name {
  font-size: 24px;
  padding-top: 18px;
  padding-bottom: 8px;
  font-weight: bold;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specs_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specs_section.try_on_specs {
  height: 45px;
}

.specs_section .name_value_pair {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
}

.specs_section .name_value_pair .name {
  font-style: italic;
  color: #666;
}

.specs_section .name_value_pair .value {
  padding-left: 10px;
  font-weight: bold;
}

.dice_container {
  display: flex;
  align-items: start;
  justify-content: center;
}

.try_on_header {
  margin-top: 15px;
  font-size: 12px;
}

.try_on_details {
  font-size: 16px;
  font-weight: bold;
}

.special_clause {
  margin-top: 15px;
  font-size: 12px;
}

.special_clause.good {
  color: #090;
}

.special_clause.bad {
  color: #900;
}

.card.back .title {
  transform: rotate(-45deg);
}
