.card.front.goal {
	padding-top: 27px;
	padding-bottom: 27px;
	padding-left: 14px;
	padding-right: 14px;
}

.card.front.goal div.title {
	font-family: "DynaPuff", serif;;
	font-weight: bold;
	font-size: 20px;
}

.card.front.goal div.goal {
	padding-top: 7px;
	font-family: "DynaPuff", serif;;
	font-style: italic;
	font-size: 17px;
}

.card.front.goal div.points {
	padding-top: 7px;
	font-family: "DynaPuff", serif;;
	font-weight: bold;
	font-size: 17px;
}

.card.front.goal div.reward {
	padding-top: 7px;
	font-family: "DynaPuff", serif;;
	font-size: 17px;
}
