div.pseudo_image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* NutProps */
div.pseudo_image.Almond {
  background-image: url("../images/NutProps/Almond.png");
}
div.pseudo_image.Cashew {
  background-image: url("../images/NutProps/Cashew.png");
}
div.pseudo_image.Peanut {
  background-image: url("../images/NutProps/Peanut.png");
}
div.pseudo_image.Pistachio {
  background-image: url("../images/NutProps/Pistachio.png");
}

/* Arrows */
div.pseudo_image.DoubleArrow {
  background-image: url("../images/Arrows/DoubleArrow.png");
}
div.pseudo_image.LeftArrow {
  background-image: url("../images/Arrows/LeftArrow.png");
}
div.pseudo_image.RightArrow {
  background-image: url("../images/Arrows/RightArrow.png");
}

/* Markers */
div.pseudo_image.ClosedBox {
  background-image: url("../images/Markers/ClosedBox.png");
}
div.pseudo_image.Heart {
  background-image: url("../images/Markers/Heart.png");
}
div.pseudo_image.OpenBox {
  background-image: url("../images/Markers/OpenBox.png");
}
div.pseudo_image.RobotArm {
  background-image: url("../images/Markers/RobotArm.png");
}
div.pseudo_image.Roaster {
  background-image: url("../images/Markers/Roaster.png");
}
div.pseudo_image.Salter {
  background-image: url("../images/Markers/Salter.png");
}
div.pseudo_image.ScoreCell {
  background-image: url("../images/Markers/ScoreCell.png");
}
div.pseudo_image.Skull {
  background-image: url("../images/Markers/Skull.png");
}
div.pseudo_image.Squirrel {
  background-image: url("../images/Markers/Squirrel.png");
}
div.pseudo_image.Star {
  background-image: url("../images/Markers/Star.png");
}
div.pseudo_image.StartingPlayer {
  background-image: url("../images/Markers/StartingPlayer.png");
}
div.pseudo_image.Truck {
  background-image: url("../images/Markers/Truck.png");
}

.conveyor_tile {
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-flex;
  break-inside: avoid;
  margin-left: 1px;
  margin-top: 1px;
  position: relative;
  overflow: hidden;
  background-image: url("../images/Factory/FloorBrick.png");
}

.demoBoard .conveyor_tile {
  z-index: 20;
}

.demoBoard .conveyor_tile.ghost {
  opacity: 0.4;
}

.conveyor_tile.ghost .belt {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
