body {
	margin: 0px;
}

.pageOfItems {
	page-break-after: always;
	text-align: center;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pageOfItems.demoBoard {
	overflow: visible;
	white-space: nowrap;
	overflow-x: scroll;
}

.center_in_parent {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
