.grid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row {
    outline: 2px solid black;
    display: inline-flex;
}

.row .cell {
    border: 2px solid black;
    box-sizing: border-box;
    position: relative;
}

.cell .nut_type {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cell .star {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cell .salt {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
